.form-container {
  .formula {
    display: flex;
    align-items: center;
    padding: 30px;

    .text {
      font-size: 1.2rem;
    }

    .box {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
